.body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main{
    border: 2px solid black;
    border-radius: 20px;
    padding: 2rem;
}

.main__title{
    margin-bottom: 2rem;
    text-align: center;
    text-decoration: underline;
}

.main__form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
}

.main__form p{
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 0;
}

span, li{
    color: rgb(164, 164, 164);
    margin-top: 0.5rem;
    grid-column: 1 / -1;
    width: 100%;
}

.form__btn{
    background-color: darkgray;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
}