.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.main__title{
    text-align: center;
    text-decoration: underline;
}

.main__form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}

.form__btn{
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
}

.form__accept{
    background-color: red;
    color: white;
}

.form__cancel{
    background-color: gray;
    color: white;
}