.chart{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin: 0 auto;
    width: 50vw;
}

.chart__pie{
    margin: 0 auto;
}

.main{
    display: flex;
    flex-direction: column;
}

.main__tasks{
    margin: 0 auto;
    padding: 0.5rem;
}

.tasks__title{
    margin-bottom: 1rem;
    text-align: center;
    text-decoration: underline;
}

.tasks__task{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.task__status{
    display: inline-flex;
    gap: 0.5rem;
}

.task__actions{
    display: inline-flex;
    gap: 0.5rem;
}

.task__btn{
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
}

.task__todo{
    background-color: rgb(228, 228, 82);
    color: black;
}

.task__inprog{
    background-color: rgb(99, 99, 215);
    color: white;
}

.task__done{
    background-color: rgb(70, 208, 70);
    color: white;
}

.task__update{
    background-color: rgb(228, 228, 82);
    color: black;
}

.task__delete{
    background-color: rgb(234, 66, 66);
    color: white;
}

.back{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.back__link{
    color: black;
    font-size: 20px;
    text-align: center;
}