*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: sans-serif;
}

.body{
    background-color: rgb(245, 245, 245);
}

.header{
    background-color: rgb(39, 182, 225);
    margin: 0;
    padding: 1em;
}

.nav{
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    width: 97vw;
}

.nav__link{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
}

.btn__session{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.main{
    padding: 2rem;
}