.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
}

.main__title{
    text-align: center;
    text-decoration: underline;
}

.main__link{
    background-color: rgb(47, 134, 184);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
}