.main{
    display: grid;
    grid-template-columns: 1fr;
}

@media screen and (min-width: 425px) {
    .main{
        grid-template-columns: 1fr 1fr;
    }
}

.main__owner, .main__collaborators{
    margin: 0 auto;
    padding: 0.5rem;
}

.main__owner{
    border-right: 2px solid black;
}

.main__collaborators{
    border-left: 2px solid black;
}

.owner__title, .collaborators__title{
    margin-bottom: 1rem;
    text-align: center;
    text-decoration: underline;
}

.owner_projects, .collaborators__projects{
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    gap: 2rem;
}

@media screen and (min-width: 768px) {
    .owner_projects, .collaborators__projects{
        grid-template-columns: 1fr 1fr;
    }
}

.project__link{
    color: black;
    font-weight: bold;
}

.project__actions{
    display: inline-flex;
    gap: 0.5rem;
}

.project__btn{
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
}

.project__update{
    background-color: rgb(228, 228, 82);
    color: black;
}

.project__delete{
    background-color: rgb(234, 66, 66);
    color: white;
}